.dashboard-layout {
    display: flex;
    background: #151822;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 40px;
}

.courses-section {
    margin-top: 40px;
}

.courses-section h2 {
    color: white;
    margin-bottom: 25px;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
}

.course-card{
    background:#24293c;
    padding:25px;
    border-radius:20px;
    color:white;
}

.course-card h3{
    color:white;
}

.course-card p{
    color:#9da5b4;
}

.progress-bar{
    background:#30354c;
    height:8px;
    border-radius:10px;
    margin:15px 0;
}

.progress-fill{
    background:#6c63ff;
    height:100%;
    border-radius:10px;
}

.course-card button{
    width:100%;
    margin-top:20px;
    background:#6c63ff;
    color:white;
}