.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.search-bar{
    width:400px;
    background:#24293c;
    border:none;
    color:white;
    padding:18px;
    border-radius:15px;
}

.profile-section{
    color:white;
}

.logout-btn {
    margin-left: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    font-weight: 600;
}

.logout-btn:hover {
    background-color: #c82333;
}